<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <beans profile="default">
        <import resource="file:config/db-config-pg.xml" />
        <!-- Uncomment this setting to use Authenticator plugin
        <import resource="file:config/authenticator-config.xml" />
        -->
        <!-- ThreadScope definition -->
        <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
            <property name="scopes">
                <map>
                    <entry key="thread">
                        <bean class="org.springframework.context.support.SimpleThreadScope">
                        </bean></entry>
                </map>
            </property>
        </bean>
    </beans>

</beans>