<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<div class="container-fluid text-center">
<div>
    <h2>Login MFA (email)</h2>
</div>

<!--<div th:if="${param.error}">-->
<!--    <p class="text-danger"-->
<!--       th:utext="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">Error message</p>-->
<!--</div>-->

<!--<div class="error"-->
<!--         th:if="${param.error}"-->
<!--         th:with="errorMsg=${session["SPRING_SECURITY_LAST_EXCEPTION"].message}">-->
<!--    Your login attempt was not successful, try again.<br />-->
<!--    Reason: <span th:text="${errorMsg}">Wrong input!</span>-->
<!--</div>-->

<div class="error"
         th:if="${param.error}"
         th:with="errorMsg=ERROR">
    Your login attempt was not successful, try again.<br />
    Reason: <span th:text="${errorMsg}">Wrong input!</span>
</div>
<div th:if="${param.otp}">
    <p class="text-danger">
        For security reason, we've sent an One-Time-Password (OTP)
        to your email [[${param.email}]]<br/>
        Kindly check your email and use the provided OTP to login.<br>
        Note: The OTP will expire after 5 minutes.
    </p>
</div>
<div th:if="${param.logout}">
    <p class="text-warning">You have been logged out.</p>
</div>

<!--<div th:if="${message != null}">-->
<!--    <p class="text-primary">[[${message}]]</p>-->
<!--</div>-->

<form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

    <h4 th:if="${param.error} == null">NO ERROR</h4>

    <div th:if="${param.error}">
        <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null" class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} == null" class="text-danger">Error</p>
    </div>

    <div class="border border-secondary rounded p-3">
        <div>
            <p>
                <input type="email" name="email" class="form-control"
                       placeholder="E-mail" th:value="${param.email}" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" class="form-control"
                       th:placeholder="${param.otp != null ? 'Your One Time Password' : 'Password'}" required />
            </p>
            <p class="text-center">
                <input type="submit" value="Login" class="btn btn-primary" />
            </p>
        </div>
    </div>
</form>
</div>
</body>
</html>